main{
    position: relative;
    top:180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        .main-child{
            display: flex;
            justify-content: center;
            grid-gap:55px;
            div{
                height:180px;
                width:180px;
                border-radius:50%;
                background:gray;
                cursor: pointer;
                background-size: cover !important;
            }
        }
        .items-container{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                height: 120px;
                width:120px;
            }
        }
        button{
            cursor:pointer;
        }
        .showContainer{
            display: block;
        }
        .hideContainer{
            display: none;
        }
        .buttons-bar{
            display:flex;
            justify-content: center;
            align-items: center;
        }
}